acceptLanguages to return false when Accept-Language header is unspecified

The documentation of `acceptLanguages` say:

> Returns the first accepted language of the specified languages, based on the request’s Accept-Language HTTP header field. If none of the specified languages is accepted, returns false.

However, when we receive a request without `Accept-Language` header, `req.acceptLanguages(myLanguagesArray)` returns the first element of `myLanguagesArray`, which is unexpected. The expected behavior is this API returns false, and downstream consumer can make decisions, such as; either to fallback to default language or send error to the caller.

Even without `Accept` and `Accept-Language` headers, first element of `myLanguagesArray` is returned.

This is just follow the http spec. When the headers are not there, the spec says to treat it as if all languages are accepted by the client.

https://tools.ietf.org/html/rfc7231#section-5.3.5

>    A request without any Accept-Language header field implies that the
>   user agent will accept any language in response.

If you think the docs can be improved around this, you're welcome to make a pull request on what would help make it clearer :+1:

Thank you for the RFC reference. Based on RFC reference do you think this statement from api doc https://expressjs.com/en/api.html:

> If none of the specified languages is accepted, returns false.

does not hold; as the API will never return `false`?

That part looks correct to me. If it is call with just the lang 'en' and the client sends the header but only with 'jp' then it will return false due to not overlap between client and server lists.

If it helps, here are the tests for the API in question: https://github.com/expressjs/express/blob/master/test/req.acceptsLanguage.js

Thanks, you are right. It is actually the other api https://github.com/expressjs/express/blob/master/test/req.acceptsLanguages.js (plural), and the interesting test is:

```javascript
    describe('when Accept-Language is not present', function(){
      it('should always return true', function(done){
```

I think in docs, we can add this as a note, something like:

> Note that if `Accept-Language` header is not present in the request, this API will return `true`. This behavior conforms with HTTP spec, as called out by [RFC 7231, Section 5.3.5](https://tools.ietf.org/html/rfc7231#section-5.3.5):
>
>>    A request without any Accept-Language header field implies that the
>>   user agent will accept any language in response.


Can the wording be made for generic somehow? For example the original wording tries to not talk about how the spec works, assuming that one would already be familiar. If we are to make reference to the spec, it probably makes sense to actually spell out how it all works, even how it decides which of the langauge to pick, otherwise similar confusion will be had about that as well. For example how the quality values work and such. Then your addition wouldn't need to be relegated to a tacked-on note and instead would be part of the full documentation. What do you think?

Makes sense and +1 on consistency with existing flow of document.