Where are buffered chunk sizes?

If a response object from a web server is sent back in chunks (like a file), where or how would the total size of the chunks be able to be collected from the Express response object?

Hm, I'm not quite sure what the question is. Can you elaborate some? Perhaps provide an example of what you mean?


"Messages MUST NOT include both a Content-Length header field and a non-identity transfer-coding. If the message does include a non-identity transfer-coding, the Content-Length MUST be ignored." (RFC 2616, Section 4.4).

So with this in mind, there is not an easy way of telling how large the response you got back (or are sending) is if you are for instance sending a file through a buffered stream.

If you where to do a `res.send({JSON OBJ});` then middleware would be able to tell the size of the object (at least in express) by referring to `req.headers['content-length']`. However, if multer was used to send a large file by a buffered chunked encoded stream then there should not be this header and the size would not be easily determinable. Would you know where in the response object the size of the chunks could be gotten or is there a way to intercept the chunks to determine their sizes?


Oh, I see what you mean. So the `req` and `res` objects comes from Node.js core (https://nodejs.org/dist/latest-v4.x/docs/api/http.html#http_class_http_incomingmessage is the documentation for `req`). The object itself is a readable stream (documentation is https://nodejs.org/dist/latest-v4.x/docs/api/stream.html#stream_class_stream_readable). You would listen for the `'data'` events until the `'end'` event is emitted.


Hi @Nokel81 since I haven't heard back, I'm going to close this question, but please feel free to ask anything additional!
