RFC incompliance: HEAD requests should not send body

(Similar to #334 )

SImple reproduction:

package.json
```
{
  "dependencies": {
    "express": "^4.16.4",
    "morgan": "^1.9.1"
  }
}
```
app.js
```
const express = require('express')
const app = express()
 
const morgan = require('morgan');
app.use(morgan(
    ':remote-addr - :remote-user [:date[clf]] ":method :url HTTP/:http-version" :status :res[content-length] ":referrer" ":user-agent" :response-time ms'
));
                   
const port = 3001
app.get('/', (req, res) => res.send('Hello World!'))
app.listen(port, () => console.log(`Example app listening on port ${port}!`))
```

```
node app.js
curl http://localhost:3001/
curl --head http://localhost:3001/
```
And in the logs in the same time:
```
::1 - - [01/Mar/2019:16:17:48 +0000] "GET / HTTP/1.1" 200 12 "-" "curl/7.61.0" 0.384 ms
::1 - - [01/Mar/2019:16:17:52 +0000] "HEAD / HTTP/1.1" 200 12 "-" "curl/7.61.0" 0.193 ms
```
Both requests ended in the same 12 bytes long body.

https://tools.ietf.org/html/rfc7231#section-4.3.2

>    ... that the server MUST NOT
>    send a message body in the response (i.e., the response terminates at
>    the end of the header section).

So this sounds like an rfc violation to me.

To be honest I am not really sure about all the potential implications.
In my case one of our proxies (based on guzzle/curl) rejects similar requests.

Express is not actually sending the body; Node.js does not allow us to. The `12` in the logs is simply the value of the `content-length` header (see the `morgan` docs). This is allowed by the RFC (https://tools.ietf.org/html/rfc7230#section-3.3.2):

> For messages that do not include a payload
   body, the Content-Length indicates the size of the selected
   representation (Section 3 of [RFC7231]).

Thanks. Sorry for the false alarm.
Then it seems that somebody something is lying in our proxy code... :-(